{% extends 'admin/layout/layout.twig' %}
{% block head %}
  <title> {{ title }} </title>
{% endblock %}
{% block content %}
{% if errors %}
    <div class="alert alert-danger">
        Le fichier ne doit pas excéder 500ko et doit être en .csv
    </div>
{% endif %}
{% if success %}
    <div class="alert alert-success">
        Le fichier a bien été importé en base de données
    </div>
{% endif %}

<h2>Import données combattants</h2>
<hr>
{% include 'admin/fighters/import/_importForm.twig' %}
{% endblock %}