#AuthName "Page d'administration protégée"
#AuthType Basic
#AuthUserFile "C:\wamp64\www\ProjetGA\admin\.htpasswd"
#Require valid-user

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . public/index.php [L]