<div class="card mb-3 shadow">
    <h6 class="card-header fw-bold">
        Articles récents
    </h6>
    <ul class="nav flex-column p-2">
        {% for post in lastPosts %}
        <a href="{{ router.url('article', {'id': post.getId(), 'slug': post.getSlug()})}}" class="text-secondary text-decoration-none">
            <li class="nav-link fw-light py-1 list-group-item-action {{ (loop.last) ? '' : 'border-bottom' }}"><strong>{{ post.getCreatedAt() | date('d.m.y') }}</strong> : {{ post.getName() }}</li>
        </a>
        {% endfor %}
    </ul>
</div>