{% extends 'admin/layout/layout.twig' %}

{% block head %}
    <title>{{title}}</title>
{% endblock %}

{% block content %}
{% if errors %}
    <div class="alert alert-danger">
        La newsletter n'a pu être créée
    </div>
{% endif %}
{% if success %}
    <div class="alert alert-success">
        La newsletter a bien été créée
    </div>
{% endif %}

<h2>Création d'une newsletter</h2>
<hr>

{% include 'admin/newsletters/_form.twig' %}

{% endblock %}