{% extends 'admin/layout/layout.twig' %}

{% block head %}
    <title>Création utilisateur</title>
{% endblock %}

{% block content %}
<h2>Création utilisateur</h2>
<hr>
{% include 'admin/users/_form.twig' %}
{% endblock %}