<p class="fw-bold mb-3">
    <a href="{{ router.url('dashboard')}}" class="text-dark"><i class="bi bi-arrow-left"></i> Retour vers la gestion des catégories</a>
</p>
<form action="" method="post" class="mb-4" enctype="multipart/form-data">
    {{ form.file('csv', 'csv')|raw }}
    <button name="" type="submit" class="btn btn-success">
        Créer
    </button>
</form>