{% extends 'admin/layout/layout.twig' %}
{% block head %}
  <title> {{ title }} </title>
{% endblock %}
{% block content %}
{% if errors %}
    <div class="alert alert-danger">
        La catégorie n'a pu être créée
    </div>
{% endif %}
{% if success %}
    <div class="alert alert-success">
        L'import a bien été effectué
    </div>
{% endif %}

<h2>Import données combattants</h2>
<hr>
{% include 'admin/fighters/_importForm.twig' %}
{% endblock %}