{% extends 'admin/layout/layout.twig' %}

{% block head %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
{% if errors %}
    <div class="alert alert-danger">
        La création n'a pas pu être effectuée
    </div>
{% endif %}

{% if success %}
    <div class="alert alert-success">
        La création a bien été effectuée
    </div>
{% endif %}
<h2>Créer un combattant</h2>
<hr>
{% include 'admin/fighters/_form.twig' %}
{% endblock %}