{% extends "layout/layout.twig" %}

{% block head %}
    <title> Articles </title>
{% endblock %}

{% block content %}
<div class="row">
    <article class="col-md-9">
        <h1>Actualités UFC</h1>
        <hr>
        {% for post in posts %}
            {% include 'blog/_card.twig' %}
        {% endfor %}
        <aside class="text-center mb-5">
            {{ pagination.previousLink(link)|raw }}
            {{ pagination.nextLink(link)|raw }}
        </aside>
    </article>
    <aside class="col-md-3">
        {% block sidebar %}
            {% include '_side.twig' %}
        {% endblock %}
    </aside>
</div>
{% endblock %}