{% extends 'admin/layout/layout.twig' %}
{% block head %}
  <title> {{ title }} </title>
{% endblock %}
{% block content %}
{% if errors %}
    <div class="alert alert-danger">
        La catégorie n'a pu être créée
    </div>
{% endif %}
{% if success %}
    <div class="alert alert-success">
        La catégorie a bien été créée
    </div>
{% endif %}

<h2>Création d'une catégorie</h2>
<hr>
{% include 'admin/category/_form.twig' %}
{% endblock %}