{% extends 'layout/layout.twig' %}

{% block head %}
    <title> Contact </title>
{% endblock %}

{% block content %}
{% if logged is not null %}
    <div class="alert alert-secondary">
        {{ logged }}
    </div>
{% endif %}
    <h1>Nous contacter</h1>
    <hr>
    {% if success %}
    <div class="alert alert-success alert-dismissible fade show col-md-6 m-auto mb-3" role="alert">
        {{ success }}
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <form method="post" action= "" class="col-md-6 m-auto">
        {{ form.textarea("content", "Message", "Votre message...") | raw}}
        <button class="btn btn-secondary ml-3 mb-3">Envoyer</button>
    </form>

{% endblock %}
