{% extends 'layout/layout.twig' %}
{% block content %}
<h2 class="text-center">S'authentifier</h2><hr>

{% if forbidden %}
    <div class="alert alert-danger">
        Vous n'avez pas accès à cette page
    </div>
{% endif %}

<div class="row">
    <div class="col-lg-5 m-auto">
        <h3 class="fw-bold text-center"><a href="{{router.url('signin')}}" class="text-dark">Créer un compte</a></h3>
    </div>
    <div class="col-lg-2 sep">
        <span class="sepText">
            Authentification
        </span>
    </div>
    <div class="col-lg-5">
        <h3 class="fw-bold text-center">Connexion</h3>
        <form action="" method="post" class="m-auto col-md-8 text-center">
            {{ form.input('username', '<i class="bi bi-person-circle"></i>', 'Identifiant')|raw }}
            {{ form.input('password', '<i class="bi bi-lock"></i>', 'Mot de passe')|raw }}
            <button class="btn btn-secondary ml-3"> Se connecter</button>
        </form>
    </div>
</div>
{% endblock %}